.Navbar{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    background:#373B53;
    width:103px;
    left:0;
    top:0;
    height:100%;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    z-index:10;
    & > .mainButton{
        width:100%;
        height:103px;
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;
        overflow:hidden;
        & > img{
            width:40px;
            height:40px;
            position:relative;
            z-index:2;
        }
        & > .brightShadow{
            height:103px;
            width:103px;
            position:absolute;
            top:50px;
            border-top-left-radius: 2em;
        }
    }
    & > .info{
        display:flex;
        flex-direction: column;
        & > .shadowBox{
            display:flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height:103px;
            width:103px;
        }
        & > .changeTheme{
            & > img{
                cursor: pointer;
            }
        }
        & > .avatar{
            border-top: 1px solid #979797;
            & > img {
                width:40px;
                height:40px;
                border-radius:100%;
            }
        }
    }

}