.DetailsPage{
    max-width:730px;
    margin:0 auto;
    & > .navigation{
        display:flex;
        justify-content:left;
        align-items:center;
        gap:10px;
        & > p{
            margin:0;
        }
        
    }
    & > .halo{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity: 0.5;
        background:black;
        &.hide{
            display:none;
        }
    }
    &__smartphonePart{
        display:none;
    }
}

@media(max-width:768px){
    .DetailsPage{
        margin: 56px 45px;
    }
}

@media(max-width:600px){
    .DetailsPage{
        margin:32px 24px 155px 24px;
        
        &__smartphonePart{
            display:flex;
            width:100%;
            position:fixed;
            bottom:0;
            box-shadow: 0px -1px 50px #979797;
        }
    }
}