.DetailsPage{
    max-width:730px;
    margin:0 auto;
    & > .navigation{
        display:flex;
        justify-content:left;
        align-items:center;
        gap:10px;
        & > p{
            margin:0;
        }
        
    }
    & > .halo{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity: 0.5;
        background:black;
        &.hide{
            display:none;
        }
    }
}

@media(max-width:768px){
    .DetailsPage{
        margin: 56px 45px;
    }
}

@media(max-width:400px){
    .DetailsPage{
        margin:32px 24px;
    }
}