.DetailsHeader{
    display:flex;
    justify-content: space-between;
    border-radius:1em;
    padding:24px 32px;
    margin-bottom: 24px;
    margin-top:32px;
    & > .left{
        display:flex;
        align-items: center;
        & > p:nth-child(1){
            margin-right:16px;
        }
    }
    & > .right{
        display:flex;
        gap:10px;
    }
}

@media (max-width:600px){
    .DetailsHeader{
        & > .left{
            width:100%;
            justify-content: space-between;
        }
        & > .right{
            display:none;
        }
    }
}