.DetailsContent{
    padding:32px;
    border-radius:1em;
    & > .top{
        display:flex;
        justify-content: space-between;
        & > .idDescription{
            & > .id{
                margin:8px;
            }
        }
        & > .senderAddress{
            & p{
                text-align:right;
                margin:5px;
            }
        }
    }
    & > .middle{
        display: flex;
        justify-content: space-between;
        text-align: left;
        & > .left{
            display:flex;
            justify-content: space-between;
            flex-grow:1;
            & > .bill{
                & > p{
                    margin-bottom:8px;
                }
            }
        }
        & > .sent{
            flex-grow: 1;
            display:flex;
            justify-content: center;
            
        }
    }
}