.DetailsHeaderButtons{
    display:flex;
    gap:10px;
    height:91px;
    align-items: center;
    &.smartphone{
        width:100%;
        display: none;
        justify-content: center;
    }
}


@media(max-width:600px){
    .DetailsHeaderButtons{
        &.smartphone{
            display:flex;
            align-items:center;
            
        }
        &.wide{
            display:none;
        }
    }
}