.DetailsHeaderButtons{
    display:flex;
    gap:10px;
    &.smartphone{
        display: none;
        justify-content: center;
    }
}


@media(max-width:600px){
    .DetailsHeaderButtons{
        &.smartphone{
            display:flex;
        }
        &.wide{
            display:none;
        }
    }
}