.InvoiceListElement{
    &.smartphone{
        display:none;
    }
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 24px;
    border-radius:2em;
    margin-bottom:10px;
    & .sub{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-grow:2;
        margin-right:40px;
    }
    & > .id{

    }
    .chevron{
        
    }
}

@media (max-width:530px){
    .InvoiceListElement{
        padding:24px;
        &.wide{
            display:none;
        }
        &.smartphone{
            display:flex;
            & .sub{
                margin:0;
                flex-direction:column;
                justify-content: space-between;
                &__top{
                    margin-bottom:24px;
                }
                &__top, &__bottom{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    width:100%;
                }
                & .id, &__bottom{
                    text-align: left;
                    & p{
                        margin-bottom:8px;
                    }
                }
            }
        }

    }
}